docs/thesis/inc/xsd.xml

<xs:schema attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tracks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Coordinates" 
                    maxOccurs="unbounded" 
                    minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Coordinate" 
                          maxOccurs="unbounded" 
                          minOccurs="2">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="Latitude"/>
                    <xs:element type="xs:float" name="Longitude"/>
                    <xs:element type="xs:float" name="Speed"/>
                    <xs:element type="xs:byte" name="Accuracy"/>
                    <xs:element type="xs:short" name="Azimuth"/>
                    <xs:element type="xs:string" name="Time"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>